[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.105.0"
uvicorn = "==0.24.0.post1"
python-jose = "==3.3.0"
bcrypt = "==4.0.1"
passlib = {extras = ["bcrypt"], version = "*"}
pymysql = "==1.1.0"
cryptography = "==41.0.7"
pydantic = {extras = ["email"], version = "==2.5.2"}

[dev-packages]

[requires]
python_version = "3.11"
